# --- Docker Configuration ---
WEB_PORT=8080
WAHA_PORT=3000
WAHA_API_URL=http://waha:3000
WAHA_LOG_LEVEL=info
WAHA_API_KEY=your_secret_waha_api_key_here

# --- ASP.NET Core Configuration ---
ASPNETCORE_ENVIRONMENT=Development
ASPNETCORE_HTTP_PORTS=8080

# --- Building Maintainer Configuration ---
LOCAL_CREDENTIALS_PATH=./credentials.json
MaintainerConfig__CredentialsPath=/app/credentials.json
MaintainerConfig__SpreadSheetId=1xPlu-1DTmw8O0vx0AygsHMJ-9ybOghzKzRT3nThTLg0
MaintainerConfig__SENDER_EMAIL=your_email@example.com
MaintainerConfig__SMTP_SERVER=smtp.gmail.com
MaintainerConfig__SMTP_PORT=587
MaintainerConfig__SMTP_USER=your_smtp_username
MaintainerConfig__SMTP_PASS=your_smtp_password
